
<div class = "row">
	<div class ="col-md-3">
    <div class = "panel panel-default center" id = "profile_nav">
      <div class="panel-heading">
        <h1><%= @user.username %></h1>
      </div>
      <div class="panel-body center">
        <%= image_tag @user.image.url(:medium), class:"img-responsive" %>
      </div>
    </div>
  </div>

  <div class ="col-md-9 panel panel-default profile_stamp_sect">
    <div role="tabpanel">
    <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li>
          <%= link_to "Stamps", profile_path(@user.username) %>
        </li>
        <li>
          <%= link_to "Added", profile_post_path(@user.username) %>
        </li>
        <li class="active">
          <%= link_to "Cities", profile_cities_path(@user.username) %>
        </li>
      </ul>

    <% if @cities %>
      <div id="profile_stamps" class="transitions-enabled"> 
        <% @cities.each do |city| %>
          <% stamp = city.stamps.sample %>
          <div class="box panel panel-default col-md-4" id="profile_stamp_box" >
            <div class = "center">
              <strong><%= city.name  %></strong>
              <%= link_to image_tag(stamp.image.url(:medium)), stamp  %> 
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
