
<div class = "row">
	<div class ="col-md-3">
			<div class = "panel panel-default center" id = "profile_nav"><h1><%= @user.username %></h1></div>
	</div>
  <div class ="col-md-9 profile_stamp_sect">
    <% if @stamps %>
    	<div id="profile_stamps" class="transitions-enabled">	
      	<% @stamps.each do |stamp| %>
          <div class="box panel panel-default" id="stamp_box" >
            <div class = "center">
              <%= link_to image_tag(stamp.image.url(:medium)), stamp, id: "profile_stamp_img" %>
              <div class = "panel-body" id ="profile_stamp">
                <div class = "pull-left text-left">
                  <strong><%= stamp.name if stamp.name %></strong><br>
                  by <%= link_to stamp.user.username, profile_path(stamp.user.username) if stamp.user %><br>
                  <%= stamp.category.name if stamp.category %><br>
                  <%= stamp.neighborhood.name if stamp.neighborhood %>, <%= stamp.city.name if stamp.city %><br>
                </div>
                <div class = "pull-right">
                </div>
              </div>
            </div>
          </div>
        <% end %>
    	</div>
    <% end %>
  </div>
</div>
