<%= form_for @stamp, html: {multipart: true} do |f| %>
  <% if @stamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stamp.errors.count, "error") %> prohibited this stamp from being saved:</h2>

      <ul>
      <% @stamp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <br><label>Place</label><br>
    <input id="geocomplete" class="form-control" type="text" placeholder="Start typing your spot..." autofocus />
  </div>
  <div class="form-group">
 
    <%= f.text_field :name, class: "form-control",id:"name", type:"hidden" %>     
  </div>
    <div class="form-group">

    <%= f.text_field :formatted_address, class: "form-control",id:"street_number", type:"hidden" %>     
  </div>
  <div class="form-group">

    <%= f.text_field :adr_street_number, class: "form-control",id:"street_number", type:"hidden" %>     
  </div>
    <div class="form-group">

    <%= f.text_field :adr_route, class: "form-control",id:"route", type:"hidden" %>     
  </div>
  <div class="form-group">

    <%= f.text_field :adr_city, class: "form-control",id:"locality", type:"hidden" %>     
  </div>
  <div class="form-group">

    <%= f.text_field :adr_postal_code, class: "form-control",id:"postal_code", type:"hidden" %>
  </div>
  <div class="form-group">

    <%= f.text_field :adr_state, class: "form-control",id:"administrative_area_level_1", type:"hidden" %>
  </div>
  <div class="form-group">

    <%= f.text_field :adr_country, class: "form-control",id:"country", type:"hidden" %>
  </div>
    <div class="form-group">

    <%= f.text_field :phone_number, class: "form-control",id:"formatted_phone_number", type:"hidden" %>
  </div>
      <div class="form-group">

    <%= f.text_field :google_place_id, class: "form-control",id:"id", type:"hidden" %>
  </div>
        <div class="form-group">

    <%= f.text_field :adr_coord_lat, class: "form-control",id:"lat", type:"hidden" %>
  </div>
          <div class="form-group">

    <%= f.text_field :adr_coord_lng, class: "form-control",id:"lng", type:"hidden" %>
  </div>
            <div class="form-group">

    <%= f.text_field :website, class: "form-control",id:"website", type:"hidden" %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select :category_id, Category.all.collect { |c| [c.name, c.id] }, prompt: "Select Category" %>
  </div>

  <div class="form-group">
    <%= f.label :price_range %><br>
    <%= f.select :price_range, [["Free", 1], ["$", 2], ["$$", 3], ["$$$", 4]], {class: "multiple dropdown"} %>
  </div>

  <div class="form-group">
    <%= f.label :neighborhood %><br>
    <%= f.select :neighborhood, [["Chelsea", 1], ["Chinatown", 12], ["East Village", 2], ["Financial District", 3], ["Flatiron", 10], ["Greenwich Village", 4], ["Lower East Side", 5],["Meatpacking", 11],["NoLita", 6],["Soho", 7],["Tribeca", 13],["Union Square", 9], ["West Village", 8]], {class: "multiple dropdown"} %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: "Why do you love this spot?" ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
