<%= form_for @stamp, html: {multipart: true} do |f| %>
  <% if @stamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stamp.errors.count, "error") %> prohibited this stamp from being saved:</h2>

      <ul>
      <% @stamp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select :category, [["Eat", 1], ["Drink", 2], ["Stay", 3], ["Shop", 4], ["Explore", 5]], {class: "multiple dropdown"} %>
  </div>

  <div class="form-group">
    <%= f.label :price_range %><br>
    <%= f.select :price_range, [["Free", 1], ["$", 2], ["$$", 3], ["$$$", 4]], {class: "multiple dropdown"} %>
  </div>

  <div class="form-group">
    <%= f.label :neighborhood %><br>
    <%= f.select :neighborhood, [["Chelsea", 1], ["East Village", 2], ["Financial District", 3], ["Greenwich Village", 4], ["Lower East Side", 5],["NoLita", 6],["Soho", 7],["West Village", 8]], {class: "multiple dropdown"} %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
