<%= form_for @stamp, html: {multipart: true} do |f| %>
  <% if @stamp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stamp.errors.count, "error") %> prohibited this stamp from being saved:</h2>

      <ul>
      <% @stamp.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <br><label>Place</label><br>
    <input id="geocomplete" class="form-control" type="text" placeholder="Start typing your spot..." autofocus  />
  </div>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control",id:"name", type:"text" %>     
  </div>
  <div class="form-group">
    <%= f.label :adr_street_number %>
    <%= f.text_field :adr_street_number, class: "form-control",id:"street_number", type:"text" %>     
  </div>
    <div class="form-group">
    <%= f.label :adr_route %>
    <%= f.text_field :adr_route, class: "form-control",id:"route", type:"text" %>     
  </div>
  <div class="form-group">
    <%= f.label :adr_city %>
    <%= f.text_field :adr_city, class: "form-control",id:"locality", type:"text" %>     
  </div>
  <div class="form-group">
    <%= f.label :adr_postal_code %>
    <%= f.text_field :adr_postal_code, class: "form-control",id:"postal_code", type:"text" %>
  </div>
  <div class="form-group">
    <%= f.label :adr_state %>
    <%= f.text_field :adr_state, class: "form-control",id:"administrative_area_level_1", type:"text" %>
  </div>
  <div class="form-group">
    <%= f.label :adr_country %>
    <%= f.text_field :adr_country, class: "form-control",id:"country", type:"text" %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br>
    <%= f.select :category, [["Eat", 1], ["Drink", 2], ["Stay", 3], ["Shop", 4], ["Explore", 5]], {class: "multiple dropdown"} %>
  </div>

  <div class="form-group">
    <%= f.label :price_range %><br>
    <%= f.select :price_range, [["Free", 1], ["$", 2], ["$$", 3], ["$$$", 4]], {class: "multiple dropdown"} %>
  </div>

  <div class="form-group">
    <%= f.label :neighborhood %><br>
    <%= f.select :neighborhood, [["Chelsea", 1], ["East Village", 2], ["Financial District", 3], ["Greenwich Village", 4], ["Lower East Side", 5],["NoLita", 6],["Soho", 7],["West Village", 8]], {class: "multiple dropdown"} %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description,id: "country", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
