<% @stamps.each do |stamp| %>
  <div class="box panel panel-default">
    <div class = "center">
      <%= link_to image_tag(stamp.image.url), stamp %>
      <div class = "panel-body">
        <%= stamp.description %><br>
        <p><strong><%= stamp.user.username if stamp.user %></strong></p>
        <% if current_user && stamp.user == current_user %>
          <div class ="actions">
            <%= link_to edit_stamp_path(stamp) do %>
              <span class="glyphicon glyphicon-edit"></span>
              Edit |
            <% end %>
            <%= link_to stamp, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
          </div>
        <% end %>
        <div class = "pull-left">
          <%= render 'stamps/pricerange_key', :stamp => stamp %>
        </div>
        <div class = "pull-right">
          <%= render 'stamps/category_key', :stamp => stamp %>
        </div>
      </div>
    </div>
  </div>
<% end %>