<% @stamps.each do |stamp| %>
  <div class="box panel panel-default">
    <div class = "center">
      <%= link_to image_tag(stamp.image.url(:large)), stamp %>
      <div class = "panel-body">
        <div class = "pull-left text-left">
          <p><strong><%= stamp.name if stamp.name %></strong></p>
          <p><%= stamp.category.name if stamp.category %></p>
        </div>
        <div class = "pull-right">
          <%= render 'stamps/neighborhood_key', :stamp => stamp %>
          by <%= link_to stamp.user.username, profile_path(stamp.user.username) if stamp.user %>|
          <%= pluralize stamp.reputation_for(:votes).to_i, "vote" %>
          <%= link_to "up", vote_stamp_path(stamp, type: "up"), method: "post" %>
          <%= link_to "down", vote_stamp_path(stamp, type: "down"), method: "post" %>
        </div>
      </div>
    </div>
  </div>
<% end %>