<% @stamps.each do |stamp| %>
  <div class = "col-md-6 stamp_box">
    <div class="box panel panel-default" id = "stamp_<%= stamp.id %>">
      <div class = "center">
        <div class = "stamp_img">
            <%= link_to image_tag(stamp.image.url(:rendered)), stamp %>
  
          <% if user_signed_in? %>
            <% if stamp.evaluations.find_by(source_id: current_user.id) != nil %>
              <% if stamp.evaluations.find_by(source_id: current_user.id).value < 0 %>
                <%= link_to(vote_stamp_path(stamp, type: "up"), method: "post", remote: true) do %>
                  <i class="fa fa-camera-retro fa-5x stamp_layover_selected center"></i>
                <% end %>
              <% else %>
                <%= link_to(vote_stamp_path(stamp, type: "down"), method: "post", remote: true) do %> 
                  <i class="fa fa-camera-retro fa-5x stamp_layover center"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to(vote_stamp_path(stamp, type: "up"), method: "post", remote: true) do %> 
                <i class="fa fa-camera-retro fa-5x stamp_layover center"></i>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
        </div>
        <div class = "panel-body">
          <div class = "pull-left text-left">
            <strong><%= stamp.name if stamp.name %></strong><br>
            by <%= link_to stamp.user.username, profile_path(stamp.user.username) if stamp.user %> |
            <%= pluralize stamp.reputation_for(:votes).to_i, "stamp" %> 
          </div>
          <div class = "pull-right text-left">
            <p><%= stamp.category.name if stamp.category %><br>
            <%= stamp.neighborhood.name if stamp.neighborhood %>, <%= link_to stamp.city.name, city_path(stamp.city.id) if stamp.city %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
