<div id="stamps" class="transitions-enabled">
  <% @stamps.each do |stamp| %>
    <div class="box panel panel-default">
      <%= image_tag stamp.image.url(:medium) %>
      <div class = "panel-body">
        <%= stamp.description %>
        <%= stamp.user.email if stamp.user %>
        <%= link_to 'Show', stamp %>
        <% if stamp.user == current_user %>
          <%= link_to 'Edit', edit_stamp_path(stamp) %>
          <%= link_to 'Destroy', stamp, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
