
<div class = "row">
	<div class = "col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading center">
				<%= image_tag @stamp.image.url(:large) %>
			</div>
			<div class="panel-body">
				<p>
				  <strong>Description:</strong>
				  <%= @stamp.description %>
				</p>
				<p><strong><%= @stamp.user.name if @stamp.user %></strong></p>
				<% if current_user && @stamp.user == current_user %>
					<%= link_to edit_stamp_path(@stamp) do %>
          	<span class="glyphicon glyphicon-edit"></span>
            Edit
          <% end %> |
				<% end %>
				<div class = "pull-left">
        	<%= render 'stamps/pricerange_key', :stamp => stamp %> #Need to add @stamp in many locations-check partial
        </div>
        <div class = "pull-right">
          <%= render 'stamps/category_key', :stamp => stamp %>
        </div>
				<%= link_to 'Back', stamps_path %>

			</div>
		</div>
	</div>
</div>