<div class = "row">
	<div class ="col-md-12">
		<div id="map-canvas"></div>
	</div>
	<div class = "col-md-7">
		<div class="panel panel-default">
		
				<%= image_tag @stamp.image.url(:large) %>
	
			<div class="panel-body">
				<div class = "pull-left">
					<p><strong><%= @stamp.name if @stamp.name %></strong></p>
					<p>by <%= @stamp.user.username if @stamp.user %></p>
        </div>
        <div class = "pull-right">
        	<%= render 'stamps/pricerange_key', :stamp => @stamp %>
          <%= render 'stamps/category_key', :stamp => @stamp %>
        </div>
       </div>

        <div class = "panel-body" center>
	        <% if (current_user && @stamp.user == current_user) %>
						
						<%= link_to edit_stamp_path(@stamp) do %>
	          	<span class="glyphicon glyphicon-edit"></span>
	            Edit
	          <% end %> |

						<%= link_to 'Back', stamps_path %> |

						<%= link_to @stamp, method: :delete, data: { confirm: 'Are you sure?' } do %>
		        	<span class="glyphicon glyphicon-trash"></span>Delete
		        <% end %><br>
	        <% end %>
	      </div>
			</div>
	
	</div>
	<div class ="col-md-5">
		<div class="panel panel-default">
			<div class="panel-body left">
				<strong>Neighborhood</strong><br>
					<%= render 'stamps/neighborhood_key', :stamp => @stamp %><br>
				<strong>Address</strong><br>
					<%= @stamp.adr_street_number %>
					<%= @stamp.adr_route %>
					<%= @stamp.adr_state %>C
					<%= @stamp.adr_postal_code %> <br><br>
				<strong>The Details</strong><br>
					<%= @stamp.description %>
			</div>
		</div>
	</div>
</div>