<div class = "row">
	
	<div class = "col-md-7">
		<div class="panel panel-default">
			<div class="panel-body">
				<%= image_tag @stamp.image.url(:large), class:"img-responsive" %>
				<div class = "pull-left">
					<strong><%= @stamp.name if @stamp.name %></strong>
					<p>by <%= link_to @stamp.user.username, profile_path(@stamp.user.username) if @stamp.user %>|
						<%= link_to "Stamp", vote_stamp_path(@stamp.id, type: "up"), method: "post" %> </p>
        </div>
        <div class="pull-right">
    			<%= render 'stamps/pricerange_key', :stamp => @stamp %> |
          <%= @stamp.category.name if @stamp.category %> |
          <%#= pluralize @stamp.reputation_for(:votes).to_i, "stamps" %>
        </div>
      </div>
	  </div>

	  <div class="panel panel-default">
	      <div class="panel-heading">
				Comments
			</div>
			<div class="panel-body body">
				<%= form_for [@stamp, @comment], html: {multipart: true} do |f| %>
					<div class="form-group">
    				<%= f.text_area :comment, class: "form-control", placeholder: "Write a comment..." %>
					</div>
					<div class="form-group">
    				<%= f.submit "Submit Comment" , class: "btn btn-primary" %>
  				</div>
				<% end %> 
				<% @comments.each do |comment| %>
					<hr>
					<p><strong><%= link_to comment.user.username, profile_path(comment.user.username)  if comment.user %></strong> -  <%= comment.created_at.strftime("%m/%d/%Y") %></p>
					<p><%= comment.comment %></p>
				<% end %>
			</div>
		</div>
	</div>

	<div class ="col-md-5">
		<div class="panel panel-default center">
			<div class="panel-body">
				<div id="map-canvas"></div>
			</div>
		</div>
	</div>

	<div class ="col-md-5">
		<div class="panel panel-default">
			<div class="panel-body body">
				<strong>Neighborhood</strong><br>
					<%= @stamp.neighborhood.name if @stamp.neighborhood %><br>
				<strong>Address</strong><br>
					<%= @stamp.adr_street_number %>
					<%= @stamp.adr_route %>
					<%= @stamp.adr_city %>
					<%= @stamp.adr_postal_code %> <br><br>
				<strong>Website</strong><br>
				<p> <%= link_to @stamp.website, @stamp.website, :target => "_blank"  if @stamp.website %></p>
				<strong>The Details</strong><br>
					<p><%= @stamp.description %></p>
				<div class="pull-right">
					<% if (user_signed_in?) %>
	        	<% if (current_user && @stamp.user == current_user)||(current_user.role=='admin') %>
							<%= link_to edit_stamp_path(@stamp) do %>
		          	<span class="glyphicon glyphicon-edit"></span>
		            Edit
		          <% end %> |
							<%= link_to @stamp, method: :delete, data: { confirm: 'Are you sure?' } do %>
			        	<span class="glyphicon glyphicon-trash"></span>Delete
		        	<% end %><br>
	        	<% end %>
	        <% end %>
	       </div>
			</div>
		</div>
	</div>

	<div class ="col-md-7">
		<div class="panel panel-default">
			
		</div>
	</div>
</div>