
	<div class="row">
		<div class ="page-header col-md-12">
			<h1>Europe</h1>
		</div>
  </div>

  <div class = "row city-group">
    <div class="col-md-6">
      <%= link_to(city_path(15)) do %>
          <div class="city">
            <%= cl_image_tag("citycoasting/cities/Paris.jpg") %>
            
            <h1><strong>Paris</strong></h1>
          </div>
      <% end %>
    </div>
    <div class="col-md-6">
      <%= link_to(city_path(14)) do %>
          <div class="city">
            <img src ="http://www.100percentoptical.com/images/2014/10/london.jpg" >
            <h1><strong>London</strong></h1>
          </div>
      <% end %>
    </div>
  </div>

  <div class = "row city-group">
    <div class="col-md-6">
      <%= link_to(city_path(12)) do %>
          <div class="city">
    		  	<img src ="http://d1kcl3yiuixneo.cloudfront.net/wp-content/uploads/street-rome-italy-171146473.jpg" >
    		  	<h1><strong>Rome</strong></h1>
          </div>
  		<% end %>
    </div>
    <div class="col-md-6">
      <%= link_to(city_path(13)) do %>
          <div class="city">
            <img src ="http://upload.wikimedia.org/wikipedia/commons/e/e0/Ponte_Vecchio_at_Sunset.jpg" >
            <h1><strong>Florence</strong></h1>
          </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class ="page-header col-md-12">
      <h1>United States</h1>
    </div>
  </div>

  <div class = "row city-group">
    <div class="col-md-8">
      <%= link_to(city_path(1)) do %>
          <div class="city">
            <img src ="http://www.nyccriminallawyers.com/wp-content/uploads/2013/10/raiser-kenniff-banner-nyc-dwi-laws.jpg" >
            <h1><strong>New York</strong></h1>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to(city_path(4)) do %>
          <div class="city">
            <img src ="http://cdn.styleblazer.com/wp-content/uploads/2013/05/shutterstock_135074201.jpg" >
            <h1><strong>Miami</strong></h1>
          </div>
      <% end %>
    </div>
  </div>

  <div class = "row city-group">
    <div class="col-md-4">
      <%= link_to(city_path(2)) do %>
          <div class="city">
            <img src ="https://s-media-cache-ak0.pinimg.com/originals/91/62/a8/9162a8c677fc0417bc40e4dafd192c0b.jpg" >
            <h1><strong>Chicago</strong></h1>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to(city_path(5)) do %>
          <div class="city">
            <img src ="http://www.layoverguide.com/wp-content/uploads/2010/12/Victorian-homes-on-Steiner-Street-and-the-San-Francisco-skyline-from-Alamo-Square-Park.jpg" >
            <h1><strong>San Francisco</strong></h1>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to(city_path(3)) do %>
          <div class="city">
            <img src ="http://venicebeach.com/wp-content/uploads/2012/06/569760899_szCc7-M-17.jpg" >
            <h1><strong>Los Angeles</strong></h1>
          </div>
      <% end %>
    </div>
  </div>

  <div class = "row city-group">
    <div class="col-md-4">
      <%= link_to(city_path(6)) do %>
          <div class="city">
            <img src ="http://cdn.c.photoshelter.com/img-get/I0000oDDb_NDjbuY/s/850/850/MA-BO-93-5-23.jpg" >
            <h1><strong>Boston</strong></h1>
          </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <%= link_to(city_path(7)) do %>
          <div class="city">
            <img src ="https://ppcdn.500px.org/15020865/1c62c5672c63aab48adb54294bd48f0bce6c7c7b/5.jpg" >
            <h1><strong>Seattle</strong></h1>
          </div>
      <% end %>
    </div>
  </div>

  <div class = "row city-group">
    <div class="col-md-4">
      <%= link_to(city_path(9)) do %>
          <div class="city">
            <img src ="http://www.gq.com/images/life/city-guides/austin/rainey-street-01.jpg" >
            <h1><strong>Austin</strong></h1>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to(city_path(10)) do %>
          <div class="city">
            <img src ="http://www.datatechlab.com/wp-content/uploads/2014/03/data-recovery-in-brooklyn.jpg" >
            <h1><strong>Brooklyn</strong></h1>
          </div>
      <% end %>
    </div>
    <div class="col-md-4">
      <%= link_to(city_path(11)) do %>
          <div class="city">
            <img src ="http://ayay.co.uk/backgrounds/buildings_and_landmarks/cityscapes/rapid-transit-denver-colorado.jpg" >
            <h1><strong>Denver</strong></h1>
          </div>
      <% end %>
    </div>
  </div>




 
