<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class = "container container-2">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "citycoasting <beta>", root_path, class: "navbar-brand" %>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">NYC <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">NYC</a></li>
              <li class="divider"></li>
              <li><a href="#">New cities coming soon...</a></li>
            </ul>
          </li>
          <li>
              <%= link_to new_stamp_path do %>
               <span class="glyphicon glyphicon-plus"></span> Add Stamp
              <% end %>
          </li>
          <li>
            <%= link_to "About", about_path %>
          </li>
          <li><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p></li>
        </ul>
        


<!--         <div id="user-widget">
          <% if user_signed_in? %>
Signed in as <%= current_user.name %>. Not you?
<%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
<% else %>
<%= link_to "Sign up", new_user_registration_path %> or
<%= link_to "Sign in", new_user_session_path %>
<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>
        </div> -->


        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.username , profile_path(current_user.username) %>
            <li class="dropdown">
              
              
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Settings", edit_user_registration_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                </ul>
            </li>
          <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle btn-default btn-primary" id="signup_btn" data-toggle="dropdown" > Sign Up<b class="caret"></b></a>
                    <ul class="dropdown-menu" id= "user-widget">
                      <li><%= link_to "Log In", new_user_session_path %></li>
        
                        <li><%= link_to "Sign Up", new_user_registration_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Sign in with Facebook", , "/auth/facebook", id: "sign_in" %></li>
                      
                    </ul>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </div>
</nav>